@use "../../../scss/" as *;

.product__detail {
  // width: 60%;

  .btn {
    @include flex(center, space-between);

    button {
      font-size: 1.2rem;
      font-weight: 600;
      margin-top: 2rem;
      padding: 1rem;
      border: none;
      border-radius: $border-radius;
      background: none;
      text-transform: uppercase;
      cursor: pointer;
      color: $white;
      background: $blue;

      &:last-child {
        background: #c70000;
      }
    }
  }
}
