$main-color: #2c72c6;
$second-color: #62b4ff;
$txt-color: #1f2125;

$blue: #2c72c6;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$black: #1f2125;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$sliver: #999999;

$main-bg: #ffffff;
$second-bg: #fafafb;

$sidebar-width: 300px;
$topnav-height: 110px;
$transition-cubic: cubic-bezier(0, 175, 0.885, 0.32, 1.275);

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 7rem;
$header-shrink-height: 5rem;
$border-radius: 4px;

$xs-width: 360px;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

$font-family: "Montserrat", sans-serif;
